*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000 !important;
    color: #eee !important;
    font-size: 12px;
}

header{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
}

header a{
    color: #fff;
    margin-right: 40px;
}

.cabecalho .bg-body-tertiary, .dropdown-menu {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

.cabecalho .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .dropdown, .dropdown-menu, .nav-link {
    text-decoration: none;
    font-size: 13px;
    color: #eee !important;
}

.cabecalho .navbar-nav .nav-link.active:hover, .nav-link:hover {
    color: #000 !important;
    transition: 0.15s;
}

.cabecalho .dropdown-menu:hover{
    color: #eee;
    background-color: transparent;
}

.dropdown-item{
    color: #eee !important;
}
.cabecalho .dropdown-item:hover{
    background-color: #000;
    height: 100%;
}

.cabecalho .dropdown-divider{
    margin: 0;
}

footer{
    position: relative;
    z-index: 2;
    top: 10px;
    gap: 20px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
}

.info_esquerdo{
    display: flex;
    gap: 30px;
    white-space: nowrap;
    text-decoration: none;
}

.info_direito{
    display: flex;
    gap: 30px;
    white-space: nowrap;
}

a{
    text-decoration: none;
    font-size: 13px;
    color: #eee;
}

a:hover{
    color: #c6ccd8;
    transition: 0.3s;
}

.contain{
    height: 100%;
    width: 100%;
    margin-top: -50px;
    overflow: hidden;
}

.carousel-item{
    transition: transform 2s ease, opacity .5s ease-out !important;
}

.contain .carousel-inner .carousel-item .content{
    position: absolute;
    top: 15%;
    right: 10%;
    padding-right: 30%;
    width: 75%;
    color: #eee;
    text-shadow:  0 5px 10px #0004;
}
 
.contain .carousel-inner .carousel-item .title{
    font-size: 4em;
    font-weight: 700;
    line-height: 1.3em;
}

.contain .carousel-inner .carousel-item .description{
    font-size: 1em;
}

.contain .carousel-inner .carousel-item .saiba{
    align-content: center;
    text-align: center;
    border: none;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}
.contain .carousel-inner .carousel-item .saiba .saiba_mais{
    background-color: #eee;
    align-content: center;
    color: #000;
    font-size: 12px;
    border: none;
    width: 100%;
    height: 100%;
}

.contain .carousel-inner .carousel-item .saiba .saiba_mais:hover{
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: 0.7s;
}

.contain .carousel-inner .carousel-item .buttons{
    display: grid;
    grid-template-columns: repeat(1, 130px);
    grid-template-rows: 50px;
    margin-top: 30px;
    gap: 5px;
}

.contain .carousel-inner .carousel-item button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.contain .carousel-inner .carousel-item button:hover{
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: 0.7s;
}

.contain .carousel-inner{
    height: 90vh;
    width: 100%;
    margin: auto;
}

.carousel-control-next, .carousel-control-prev{
    width: 8% !important;
}

.contain .carousel-inner img{
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    filter: brightness(0.7);
}

.contain .slide .carousel-inner .content{
    position: absolute;
    top: 15%;
    right: 10%;
    padding-right: 30%;
    width: 75%;
    color: #eee;
    text-shadow:  0 5px 10px #0004;
}

.contain .slide .carousel-inner .content .title{
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}
    
.contain .slide .carousel-inner .content .description{
    font-size: 1em;
}

.navbar-toggler-icon{
    filter: invert(1);
}
.navbar-toggler{
    border: 1px solid #eee !important;
}

@media (max-width: 768px) {

    .carousel-item{
        height: 100% !important;
        width: 100% !important;
    }
    .contain .slide .carousel-inner .content .description {
        font-size: 0.8em !important;
    }
    .contain .carousel-inner .carousel-item .buttons{
        grid-template-rows: 30px !important;
    }
    .info {
        display: grid !important;
        grid-template-columns: repeat(1, 100%);
        justify-content: center;
        justify-items: center;
    }
    .info_esquerdo{
        display: grid !important;
        gap: 0 !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
    .info_direito{
        text-align: center !important;
    }
}

@media (max-width: 992px) {
    .container-fluid{
        position: relative;
        top: 50px;
    }
    .contain .slide .carousel-inner .content .title {
        font-size: 4em;
    }
    .carousel-item{
        height: 100% !important;
        width: 100% !important;
    }
    .contain .carousel-inner .carousel-item .buttons{
        grid-template-rows: 30px !important;
    }
}

@media (max-width: 1200px) {
    .carousel-item{
        height: 100% !important;
        width: 100% !important;
    }
    .contain .carousel-inner .carousel-item .buttons{
        grid-template-rows: 30px !important;
    }
}
@media (min-width: 1201px) {
    .contain .carousel-inner {
        height: 93.5vh !important;
    }
}