*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #000 !important;
    color: #eee !important;
    font-size: 12px;
}

/* cabeçalho todas as paginas */
header{
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: auto;
    list-style: none;
}

header a{
    color: #eee;
    margin-right: 40px;
}

a{
    text-decoration: none;
    font-size: 13px;
    color: #eee;
}

a:hover{
    color: #c6ccd8;
    transition: 0.3s;
}

.cabecalho .bg-body-tertiary, .dropdown-menu {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

.cabecalho .navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .dropdown, .dropdown-menu, .nav-link {
    text-decoration: none;
    font-size: 13px;
    color: #eee !important;
}

.cabecalho .navbar-nav .nav-link.active:hover, .nav-link:hover {
    color: #000 !important;
    transition: 0.15s;
}

.cabecalho .dropdown-menu:hover{
    color: #eee;
    background-color: transparent;
}

.dropdown-item{
    color: #eee !important;
}
.cabecalho .dropdown-item:hover{
    background-color: #000;
    height: 100%;
}

.cabecalho .dropdown-divider{
    margin: 0;
}

.navbar-toggler-icon{
    filter: invert(1);
}
.navbar-toggler{
    border: 1px solid #eee !important;
}

/* rodape */
footer{
    position: relative;
    z-index: 2;
    gap: 20px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 20px;
}

.info_esquerdo{
    display: flex;
    gap: 30px;
    white-space: nowrap;
    text-decoration: none;
}

.info_direito{
    display: flex;
    gap: 30px;
    white-space: nowrap;
}

/* main */
.contain{
    height: 100vh;
    /* width: 100%; */
    margin-top: -50px;
    overflow: hidden;
}

/*conteúdo index*/
.contain .list .list-item{
    width: 100%;
    height: 100%;
    position: absolute;
}

.contain .list .list-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

/* conteudo (textos) */
.contain .list .list-item .content{
    position: absolute;
    top: 20%;
    right: 10%;
    padding-right: 30%;
    width: 80%;
    color: #eee;
    text-shadow:  0 5px 10px #0004;
}

.contain .list .list-item .title{
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}

.contain .list .list-item .description{
    font-size: 1.5em;
}

/* conteudo (botoes) */
.contain .list .list-item .buttons{
    display: grid;
    grid-template-columns: repeat(1, 130px);
    grid-template-rows: 50px;
    margin-top: 30px;
    gap: 5px;
}

.contain .list .list-item .buttons .saiba{
    align-content: center;
    text-align: center;
    border: none;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}
.contain .list .list-item .buttons .saiba .saiba_mais{
    background-color: #eee;
    align-content: center;
    color: #000;
    font-size: 12px;
    border: none;
    width: 100%;
    height: 100%;
}

.contain .list .list-item .buttons .saiba .saiba_mais:hover{
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: 0.7s;
}

.contain .list .list-item button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.contain .list .list-item button:hover{
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: 0.7s;
}

/*thumb */
.contain .thumb{
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    gap: 20px;
}

/* tamanho item thumb */
.contain .thumb .thumb-item{
    width: 135px;
    height: 200px;
    position: relative;
    z-index: 3;
}

/* imagem thumb */
.contain .thumb .thumb-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

/* conteudo thumb(textos) */
.contain .thumb .content_thumb{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* botao back, next */
.contain .arrows{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 120px;
    left: 125px;
    width: 300px;
}

.contain .arrows button{
    border-radius: 10px;
    border: none;
    padding: 12px 17px;
    background-color: #eee4;
    color: #eee;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5em;
}

.contain .arrows button:hover{
    background-color: #eee;
    color: #000;
    transition: 0.7s;
}

/* transição de imagens cidades*/
.carousel-item{
    transition: transform 2s ease, opacity .5s ease-out !important;
}
/* conteudo cidades*/
.contain .carousel-inner .carousel-item .content{
    position: absolute;
    top: 15%;
    right: 10%;
    padding-right: 30%;
    width: 75%;
    color: #eee;
    text-shadow:  0 5px 10px #0004;
}
 
.contain .carousel-inner .carousel-item .title{
    font-size: 4em;
    font-weight: 700;
    line-height: 1.3em;
}

.contain .carousel-inner .carousel-item .description{
    font-size: 1em;
}

.contain .carousel-inner .carousel-item .saiba{
    align-content: center;
    text-align: center;
    border: none;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.contain .carousel-inner .carousel-item .saiba .saiba_mais{
    background-color: #eee;
    align-content: center;
    color: #000;
    font-size: 12px;
    border: none;
    width: 100%;
    height: 100%;
}

.contain .carousel-inner .carousel-item .saiba .saiba_mais:hover{
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: 0.7s;
}

.contain .carousel-inner .carousel-item .buttons{
    display: grid;
    grid-template-columns: repeat(1, 130px);
    grid-template-rows: 50px;
    margin-top: 30px;
    gap: 5px;
}

.contain .carousel-inner .carousel-item button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
}

.contain .carousel-inner .carousel-item button:hover{
    background-color: transparent;
    border: 1px solid #eee;
    color: #eee;
    transition: 0.7s;
}

/* carrossel cidades */
.contain .carousel-inner{
    height: 90vh;
    width: 100%;
    margin: auto;
}

/* imagens carrossel cidades */
.contain .carousel-inner img{
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
    filter: brightness(0.7);
}

/* conteudo cidades */
.contain .slide .carousel-inner .content{
    position: absolute;
    top: 15%;
    right: 10%;
    padding-right: 30%;
    width: 75%;
    color: #eee;
    text-shadow:  0 5px 10px #0004;
}

.contain .slide .carousel-inner .content .title{
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}
    
.contain .slide .carousel-inner .content .description{
    font-size: 1em;
}

/* responsividade */
@media (max-width: 1210px){
    .contain .thumb{
        left: 40%;
    }
    .contain .carousel-inner {
        height: 93.5vh !important;
    }
}

@media (max-width: 1000px){
    .contain .thumb .thumb-item{
        width: 100px;
        height: 150px;
    }
    .carousel-item{
        height: 100% !important;
        width: 100% !important;
    }
    .contain .carousel-inner .carousel-item .buttons{
        grid-template-rows: 30px !important;
    }
}

@media (max-width: 992px){
    .container-fluid{
        position: relative;
        top: 50px;
    }

    .contain .thumb .thumb-item{
        display: none;
    }

    .contain .list .list-item .title{
            font-size: 48px;
    }

    .contain .list .list-item .description{
        font-size: 12px;
    }

    .contain .list .list-item .buttons{
        grid-template-rows: 30px;
    }

    .contain .list .list-item button{
        font-size: 12px;
    }

    .contain .arrows{
        width: 90px;
        left: 50%;
        bottom: 10px;
    }

    .container-fluid{
        position: relative;
        top: 50px;
    }
    .contain .slide .carousel-inner .content .title {
        font-size: 4em;
    }
    .carousel-item{
        height: 100% !important;
        width: 100% !important;
    }
    .contain .carousel-inner .carousel-item .buttons{
        grid-template-rows: 30px !important;
    }

    .info{
        display: grid;
        justify-content: center;
        justify-items: center;
        gap: 5px;
    }
}

@media (max-width: 768px) {
    .carousel-item{
        height: 100% !important;
        width: 100% !important;
    }
    .contain .slide .carousel-inner .content .description {
        font-size: 0.8em !important;
    }
    .contain .carousel-inner .carousel-item .buttons{
        grid-template-rows: 30px !important;
    }
    .info {
        display: grid !important;
        grid-template-columns: repeat(1, 100%);
        justify-content: center;
        justify-items: center;
    }
    .info_esquerdo{
        display: grid !important;
        gap: 0 !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }
    .info_direito{
        text-align: center !important;
    }
}


/* Movimento da Thumb */

.contain.next .thumb{
    animation: effectNextThumb 0.5s linear 1 forwards;
}

@keyframes effectNextThumb {
    from{
        transform: translateX(150px);
    }
    
}

/* Movimento Ultima Thumb */

.contain.next .thumb .thumb-item:nth-last-child(1){
    animation: effectLastThumb 0.5s linear 1 forwards;
}

@keyframes effectLastThumb {
    from{
        width: 0;
        opacity: 0;
    }
}

/* textos principais */
.contain .list .list-item:nth-last-child(1) .content .title, 
.contain .list .list-item:nth-last-child(1) .content .description, 
.contain .list .list-item:nth-last-child(1) .content .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.contain .list .list-item:nth-last-child(1) .content .title{
    animation-delay: 1.2s;
}

.contain .list .list-item:nth-last-child(1) .content .description{
    animation-delay: 1.6s;
}

.contain .list .list-item:nth-last-child(1) .content .buttons{
    animation-delay: 2s;
}

.contain.next .list .list-item:nth-last-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showMainImage 0.5s linear 1 forwards;
}

@keyframes showMainImage {
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/* Imagem Principal Back */
.contain.back .list .list-item:nth-last-child(1) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: hideMainImage 0.5s linear 1 forwards;
    z-index: 2;
}

@keyframes hideMainImage {
    to{
        width: 135px;
        height: 200px;
        border-radius: 10px;
        left: 50%;
        bottom: 50px;
    }
}

